<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header class="navigation container">
      <nav>
        <img src="./images/logo.svg" alt="Logo Lorem" />
        <div>
          <a href="#"><span>Favorite</span></a>
          <a href="https://www.google.com"><span>About Us</span></a>
        </div>
      </nav>
    </header>
    <main>
      <section class="container header-wrapper">
        <div class="image-wrapper">
          <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
        </div>
        <h1 class="header-text">Selamat datang di restoku!</h1>
      </section>
      <section class="container">
        <h2>Daftar Restaurant</h2>
        <card-list></card-list>
      </section>
    </main>
  </body>
</html>
