<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="manifest" href="./app.webmanifest.json" />
    <link rel="icon" href="./images/icons/icon-192x192.png" />
    <link rel="apple-touch-icon" href="./images/icons/icon-192x192.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <a href="#restaurant-list" class="skip-action">Skip To Content</a>
    <navigation-bar></navigation-bar>
    <main id="main-wrapper" class="container"></main>
    <footer-element></footer-element>
  </body>
</html>
