@import 'utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @extend .font-regular;
  color: $color-text;
  scroll-behavior: smooth;
}

main {
  margin-top: 80px;
  min-height: 80dvh;
}

button {
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #1612ee;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.details-title {
  font-size: 24px;
  color: $color-text;
  span {
    font-size: 18px;
  }
}
.details-subheader {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.details-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.details-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.details-content-item {
  display: flex;
  .details-content-title {
    width: 80px;
    @extend .font-medium;
  }
}
.details-description {
  text-align: justify;
  font-size: 14px;
}
.details-subtitle {
  font-size: 20px;
  color: $color-text;
  text-align: center;
}
.details-review-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  row-gap: 8px;
  column-gap: 12px;
  color: $color-text;
  padding-top: 12px;
}

.details-review-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid $color-text;
  border-radius: 8px;
  padding: 12px;
  gap: 4px;
  .review-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .review-item-user {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      h4 {
        @extend .font-medium;
      }
    }
    .review-item-date {
      color: $color-text;
      font-size: 14px;
    }
  }
  .review-item-desc {
    border-top: 1px solid $color-text;
    padding-top: 10px;
    font-size: 14px;
  }
}

.form-review {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 1px solid $color-text;
  border-radius: 8px;
  padding: 20px;
  gap: 8px;
  margin-top: 20px;

  div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  label {
    font-size: 14px;
    color: $color-text;
  }
  input,
  textarea {
    border: 1px solid $color-text;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
  }
  button {
    border: 1px solid $color-text;
    border-radius: 8px;
    padding: 16px;
    font-size: 14px;
    color: $color-text;
    background-color: $color-primary;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.skip-action {
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 999;
  background-color: $color-text;
  color: $color-primary;
  padding: 12px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:focus {
    top: 0;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $color-bg;

  .navigation-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 8px 0;

    .navbar-action {
      .hamburger-menu {
        display: none;
      }

      .navbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
      }
    }
  }
}

.jumbroton-wrapper {
  .image-wrapper {
    position: relative;
    min-width: 1000px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      font-size: 24px;
      background-color: $color-secondary;
      padding: 4px 8px;
      transform: translate(-50%, -50%);
    }
  }
}

#restaurant-list {
  padding-top: 80px;

  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}

.card-wrapper {
  position: relative;
  border: 1px solid black;
  border-radius: 12px;

  img {
    width: 100%;
    height: 220px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
  }

  a {
    display: block;
    min-height: 44px;
    min-width: 44px;
    text-decoration: none;
  }

  .card-content {
    padding: 0px 8px 0px 8px;
  }
}

footer {
  padding: 16px 0 16px 0;
  text-align: center;
}
