* {
  margin: 0;
}

.container {
  margin: 20px 10px 20px 10px;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.navigation {
  width: '100%';

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-wrapper {
  position: relative;

  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(50%) translateY(50%);
    z-index: 50;
  }

  .image-wrapper {
    min-width: 1000px;
    height: 440px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      inset: 0;
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 12px;
}

.card-wrapper {
  position: relative;
  border: 1px solid black;
  border-radius: 12px;

  img {
    width: 100%;
    height: 220px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
  }

  .card-content {
    padding: 0px 8px 0px 8px;
  }
}

@media (min-width: 1024px) {
  .image-wrapper {
    min-width: '100%';
  }
}
